.parallax { 
    /* The image used */
    background-image: url("../images/bc1.jpg");
  
    /* Set a specific height */
    height: 750px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}