.parallax { 
    /* The image used */
    background-image: url("../img/bg.jpg");
  
    /* Set a specific height */
    height: 750px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("../img/landing.jpg");

    /* Set a specific height */
    height: 750px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}