
/*.navBar{
    float: left;
    background-color: #222;
    width: 1350px;
    height: 35px;
}

.td1{
    width: 370px;
    height: 15px;
    background-color: white;
    color: black;
    font-size: small;
}*/

/*.field1{
    width: 320px;
    height: 25px;
    background-color: white;
    color: black;
    margin: 0 0 0 8px;
    border: green solid 1px;
}*/

/*.field02{
    !*padding: 10px;*!
    width: 400px;
    height: 30px;
    padding-left: 10px;
    margin: 5px 0 0 1px;
    border-radius: 20px;
    border: black solid 1px;
}

.select1{
    border-radius: 20px;
    border: black solid 1px;
    width: 310px;
    height: 35px;
    margin: 0 0 0 10px;
    !*background-color: #404040;*!
    color: black;
}*/
/*

.tr1{
    margin: 1px 1px 35px 1px;
}

.div6{
    width: 400px;
    height: 65px;
    background-color: white;
    margin: 0 0 0 50px;
    !*border: black solid 1px;*!

}

.label1{
    font-size: small;
    margin: 0 0 0 15px;
}

.btn02{
     width: 400px;
     padding: 10px;
     margin: 14px 0 20px 48px;
     border-radius: 10px;
     border: black solid 1px;
     color: white;
     background-color: #00b300;
 }
*/




